<h4>Name: <%= @dog.name%> </h4>
<h4>breed: <%= @dog.breed%> </h4>
<h4>age: <%= @dog.age%> </h4>

<h4>Employees:<h4>
<ul>
<% @employees.each do |employee| %>
    <li>
        <%= link_to employee.first_name, "/employees/#{employee.id}" %>
    </li>
<% end %>
</ul>


<%= form_for @dog, method: :delete do |f| %>
    <%= f.submit "Delete Dog" %>
<% end %>